@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Index</h2>
</div>

<div class="row">
    <div class="col-md-4">
       This is a body
    </div>
    @section footer{
        <p class="lead">
            This is section footer
        </p>
    }
</div>